span {
  width: 286px;
  height: 69px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  overflow: hidden;
  z-index: 9999;
}
.toastMsgErro {
  display: none;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  color: red;
}
.toastMsgSucesso {
  display: none;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  color: green;
}
.buttonCloser {
  color: azure;
}
